* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

footer {
  padding: 1% 0;
  background-color: #aaa;
}

header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}


.tech-icon {
  height: 1.7em;
}

nav {
  text-align: left;
  position: fixed;
  display: flex;
  flex-direction:column;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
  background-color: #333;
}

.links {
  display: none;
  list-style-type:none;
}

.links.open{
  display: flex;
  flex-direction:column;
  padding-left: 0;
  margin:5px;
}

nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

nav a.icon {
  background: black;
  position: absolute;
  right: 0;
  top: 0;
}

.link-button{
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

@media (min-width: 600px) {
  nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;
  }

  #myLinks{
    display: flex;
    flex-direction:row;
    justify-content: center;
    justify-self: flex-end;
    margin:0;
  }

  nav a.icon {display: none;}

  .active{
    position: absolute;
    left: 0;
    top: 0;
  }
}