* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}


footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



header {
  padding: 12% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}


.tech-icon {
  height: 1.7em;
}


nav{
  overflow: hidden;
  background-color: #333;
  position: relative;
}

nav #myLinks {
  display: none;
  list-style-type:none;
  padding-left: 0;
}

nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



